@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
html{
    overflow-x: hidden;
}

body {
    margin: 0px;
    font-family: 'Spartan', sans-serif;
    overflow: hidden;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* style cho header */

.container  {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
}

.header{
    width: 100%;
    height: auto;
    padding: 20px;
    position: absolute;
    display: block;
}

.header   .header__container{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    position: relative;
    z-index: 3;
}

.header   .header__container.container  .header__title  a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.header   .header__container.container  .header__title  .red{
    color: #ff5959;
}

.header   .header__container.container{
    height: 50px;
}

.header   .header__container.container  .header__item .header__icon{
    display: flex;
    list-style: none;
    font-size: 18px;
    text-transform:uppercase;
    font-weight: bold;
    margin: 0px;
    color: #fff;
    align-items: center;
}

.header   .header__container.container  .header__item .header__icon li{
    font-size: 13px;
    padding:0px 10px;
    transition:all cubic-bezier(0.175, 0.885, 0.32, 1.275) ease;
    margin-right: 10px;
}

.header   .header__container.container  .header__item .header__icon li:hover{
    background-color: #facf5a;
    cursor: pointer;
    color: #91640F;
    padding:15px 10px;
    transition:all 0.5s ease;
}


/* style cho header */

/* style cho banner */
.banner{
    background-image: url(https://p.w3layouts.com/demos_new/template_demo/26-03-2020/freaky-liberty-demo_Free/549348864/web/assets/images/banner2.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 0;
}

.banner::after{
    content: "";   
    background-color: rgb(0 0 0 / 39%);
    z-index: 0;
    position: absolute;
    width: 100%;   
    height: 100%;
    left: 0;
    top: 0;
}

.banner .banner__container{
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    top:50%;
    position: relative;
    z-index: 2;
}

.banner .banner__container  h6{
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 0   0   8px;
}

.banner .banner__container  h3{
    font-size: 80px;
    margin: 0 0 16px;
}

.banner .banner__container  h4{
    font-size: 32px;
}

.banner__scroll{
    position: absolute;
    bottom: 15%;
    left: 50%;
    z-index: 1;
}

.banner__scroll .banner__mause{
    width: 24px;
    margin: 0   auto;
    border: 2px solid crimson;
    border-radius: 2em;
    justify-content: center;
    display: flex;
    height: 48px;
}



.banner__scroll .banner__mause .banner__wheel{
    width: 5px;
    height: 5px;
    background-color: #ff5959;
    border-radius:50%;
    margin-top: 5px;
    animation: move-opacity 0.75s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
}

.banner__scroll .banner__arrows .banner__ar{
    width: 10px;
    height: 10px;
    border: 2px solid   crimson;
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #ff5959;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    margin: 0 0 0.125em 0.315em;
    transform: rotate(45deg);
    margin: 0   auto;
    position: relative;
    animation: blink-1 3s both;
    animation: move-opacity 0.75s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
}

.banner__scroll .banner__arrows .banner__ar::before{
    content: "";
    width: 10px;
    height: 10px;
    border: 2px solid crimson;
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #ff5959;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    margin: 0 0 0.125em 0.315em;
    transform: rotate(0deg) translateX(50%);
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 10px;
}

.banner__scroll .banner__arrows .banner__ar::after{
    content: "";
    width: 10px;
    height: 10px;
    border: 2px solid crimson;
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #ff5959;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    margin: 0 0 0.125em 0.315em;
    transform: rotate(0deg) translateX(100%);
    margin: 0 auto;
    position: absolute;
    left: 100%;
    top: 20px;
}

/* style cho banner */

/* style cho banner */
.about{
    padding: 48px   0;
}

img{
    max-width: 100%;
    height: auto;
}

.about  .about__container{
    padding: 10px;
}

.about  .about__container   .about__content{
    display: flex;
    align-items: center;
    margin-top: 48px;
}


.about  .about__container .about__content   .about__img {
    flex: 0 0   50%;
    max-width: 50%;
}

.about  .about__container .about__content   .about__img img{
    display: block;
    border-radius: 2%;
}

.about  .about__container .about__content   .about__text{
    flex: 0 0   50%;
    max-width: 50%;
    padding: 0 15px 0 48px;
    height: 50%;
}


.about  .about__container .about__content   .about__text    h3{
    font-size:  36px;
    margin: 0   0   24px;
    
}

.about  .about__container .about__content   .about__text    h3  .red{
    color: #ff5959;
}

.about  .about__container .about__content   .about__text    p{
    font-size: 15px;
    color: #5E6271;
    padding-right: 30px;
    margin: 0 0 16px;
}

.about  .about__container .about__content   .about__text .about__click button{
    border: none;
    margin: 48px  0   0;
    width: 100%;
    text-align: left;
    background-color: #fff;
    cursor: pointer;
}

.about  .about__container .about__content   .about__text .about__click button i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #EEF2F6;
    border-radius: 50%;
    text-align: center;
}

.about  .about__container .about__content   .about__text .about__click button span{
    font-size: 16px;
    font-weight: bold;
    margin-left: 12px;
    color:#ff5959;
}

.about  .about__container .about__content   .about__text .about__click button span:hover{
    color: #17a2b8;
    transition: all 1s;
}

.about  .about__container   .about__item{
    display: flex;
    margin-top: 48px;
}

.about  .about__container  .about__item   .about__icon{
    flex: 0 0  33.33%;
    max-width: 33.33%;
    padding: 48px   0;
}

.about  .about__container .about__item   .about__icon h5{
    font-size: 20px;
    margin: 0;
}

.about  .about__container .about__item   .about__icon h5:hover{
    color: #ff5959;
    transition: 0.5s;
    cursor: pointer;
}

.about  .about__container .about__item   .about__icon   p{
    font-size:15px;
    color: #5E6271;
    padding-right: 50px;
    margin: 10px    0;
}

.about  .about__container  .about__item   .about__icon  i{
    font-size: 40px;
    padding-bottom: 25px;
    color: #CDD8E5;
    cursor: pointer;
}

.about  .about__container  .about__item   .about__icon  i:hover{
    color: #17a2b8;
    transition: 0.5s;
}

/* style cho banner */

/* style cho achive */

.achive{
    padding: 48px   0;
    background-color: #EEF2F6;
}

.achive__container  .achive__content{
    display: flex;
}

.achive__container  .achive__content    .achive__text{
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    font-size:  30px;
}

.achive__container  .achive__content    .achive__chart{
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.achive__container  .achive__content    .achive__text   h3{
    margin: 0px;
    flex-wrap: wrap;
    width: 70%;
}
.achive__container  .achive__content    .achive__text   h3  .red{
    color: #ff5959;
}

.achive__container  .achive__content    .achive__chart{
    padding: 0  15px    ;
}

.achive__container  .achive__content    .achive__chart  .achive__progres {
    margin: 0   0   30px;
}

.achive__container  .achive__content    .achive__chart  .achive__progres    h6{
    font-size: 14px;
    margin: 0   0   10px;
    color: #233142;
}

.achive__container  .achive__content    .achive__chart  .achive__uiux{
    height: 5px;
    background-color: #fff;
    border-radius: 3px;
}

.achive__container  .achive__content    .achive__chart  .achive__uiux   .achive__ui{
    width: 90%;
    background-color: #17a2b8;
    height: 5px;
    border-radius: 3px; 
}


.achive__container  .achive__content    .achive__chart  .achive__ideas{
    height: 5px;
    background-color: #fff;
    border-radius: 3px;
}

.achive__container  .achive__content    .achive__chart  .achive__ideas   .achive__id{
    width: 95%;
    background-color: #17a2b8;
    height: 5px;
    border-radius: 3px; 
}


.achive__container  .achive__content    .achive__chart  .achive__ideas{
    height: 5px;
    background-color: #fff;
    border-radius: 3px;
}

.achive__container  .achive__content    .achive__chart  .achive__ideas   .achive__id{
    width: 95%;
    background-color: #17a2b8;
    height: 5px;
    border-radius: 3px; 
}

.achive__container  .achive__content    .achive__chart  .achive__marketing{
    height: 5px;
    background-color: #fff;
    border-radius: 3px;
}

.achive__container  .achive__content    .achive__chart  .achive__marketing   .achive__mar{
    width: 85%;
    background-color: #17a2b8;
    height: 5px;
    border-radius: 3px; 
}
/* style cho achive */
/* Stunning Projects */


.sp{
    padding: 48px   0;
}

.sp .sp__container{
    max-width: 1140px;
    padding: 48px   15px;
    flex-wrap: wrap;
}

img{
    max-width: 100%;
    height: auto;
}

.sp .sp__container  .sp__content    .sp__text h3{
    margin: 0px;
    font-size: 35px;
}
.sp .sp__container  .sp__content    .sp__text h3 .red{
    color: #ff5959;
}
.sp .sp__container  .sp__content    .sp__text ul{
    display: flex;
    margin: 48px    0;
}

.sp .sp__container  .sp__content    .sp__text li{
    font-size: 16px;
    list-style: none;
    font-weight:bold
    
}

.sp .sp__container  .sp__content    .sp__text li::before{
    content: "";
    height: 5px;
    width: 5px;
    background-color: #777;
    display: inline-block;
    margin: 0   15px;
    border-radius: 50%;
    vertical-align:middle;
}

.sp .sp__container  .sp__content    .sp__text li:first-child::before{
    display: none;
}

.sp .sp__container .sp__img{
    display: flex;
    flex-wrap: wrap;
    max-width: 1110px;
    margin: 0   auto;
    
}
.sp .sp__container .sp__img .sp__item{
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
    margin: 15px;
    position: relative;
    overflow-y: hidden;
    
}

.sp .sp__container .sp__img .sp__item   .sp__title{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 1px;
    border-radius: 1%;
    text-align: center;
    line-height: 520px;
    transform: translateY(1200px);
}

.sp .sp__container .sp__img .sp__item   .sp__title  h3{
    color: #fff;
}
.sp__item .content-overlay {
    background: rgba(16, 29, 41, 0.580392);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 6px;
}
.sp__item:hover .content-overlay {
    opacity: 1;
}
.sp .sp__container .sp__img .sp__item:hover  .sp__title{
    transform: translateY(0);
    transition: all 0.7s;
}

.sp .sp__container .sp__img .sp__item   img{
    border-radius: 1%;
    display: block;
}
/* Stunning Projects */


/* blog */
.blog{
    padding: 48px   0;
    background-color: #1f1712;
}

.blog__container   .blog__heading{
    margin: 0   0   24px;
    font-size: 36px;
    color: #fff;
    padding-left: 15px;
}

.blog__container   .blog__heading   .red{
    color: #ff5959;
}

.blog__container   .blog__content{
    display: flex;
}


.blog__container   .blog__item{
    flex: 0 0   33.33%;
    max-width: 33.33%;
    margin-top: 24px;
    padding: 0   15px;
    position: relative;
}

.blog__container   .blog__item   img{
    display: block;
    border-radius: 2%;
}

.blog__container   .blog__item .blog__text{
    position: absolute;
    bottom: 0;
    padding: 0  20px;
    width: 100%;
    z-index: 3;
}

.blog__container   .blog__item .blog__text  h4{
    font-size: 24px;
    color: #fff;
}

.blog__container   .blog__item .blog__text h6{
    margin: 12px 0;
    font-size: 15px;
    color: #ff5959;
}
/* blog */
/* style cho Antonio Moreno */
.am{
    padding: 48px   0;
}

.am .am__container{
    padding: 48px   15px;
    display: flex;
    align-items: center;
    position: relative;
}

.am .am__container  .am__content{
    flex: 0 0   70%;
    max-width: 70%;
}

.am .am__container .am__img{
    flex: 0 0   30%;
    max-width: 30%;
}

.am .am__container .am__img img{
    display: block;
    border-radius: 2%;
}

.am .am__container  .am__content    .am__text{
    margin-bottom: 16px;
}

.am .am__container  .am__content    .am__text   b{
    font-size: 24px;
}

.am .am__container  .am__content    .am__text   p{
    font-size: 13px;
    color: #17a2b8;
}

.am .am__container  .am__content    .am__des{
    width: 80%;
    font-size: 16px;
}

.am .am__container .am__item{
    position: absolute;
    transform: translateY(150px);
}

.am .am__container .am__item    .am__icon{
    width: 10px;
    height: 10px;
    background-color: #233142;
    display: inline-block;
    border-radius: 50%;
    margin-right: 2px;
}

/* style cho Antonio Moreno */
/* style cho like */

.like{
    padding: 48px   0;
    background-image: url(https://p.w3layouts.com/demos_new/template_demo/26-03-2020/freaky-liberty-demo_Free/549348864/web/assets/images/banner3.jpg);
    position: relative;
    min-height: 30em;
    display: grid;
    align-items: center;
}

.like::after{
    content: "";
    position: absolute;
    background-color: rgb(0 0 0 / 39%);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 1;
}

.like   .like__container{
    max-width: 1140px;
    margin: 0   auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.like   .like__container    h3{
    font-size: 36px;
    margin-bottom: 24px;
    color: #fff;
}

.like   .like__container h3 .red{
    color: #ff5959;
}

.like   .like__container    h6{
    font-size: 16px;
    margin: 10px 0;
    color: #fff;
}

.like   .like__container    .like__content{
    margin-top: 48px;
    cursor: pointer;
}

.like   .like__container    .like__content button{
    border: none;
    height: 30px;
    width: 30px;
    border-radius:50%;
    cursor: pointer;
}

.like   .like__container    .like__content span{
    color: #ff5959;
    font-weight: bold;
    margin-left: 10px;
}

.like   .like__container    .like__content span:hover{
    color: #007bff;
    transition: all 1s;
}
/* style cho like */
/* style cho footer */
.footer{
    padding: 48px   0;
}

.footer .footer__container{
    display: flex;
    justify-content: space-between;
}

.footer .footer__container  .footer__text{
    flex: 0 0   50%;
    max-width: 50%;
}

.footer .footer__container  .footer__text   h6{
    font-size: 14px;
    font-weight: 400;
}

.footer .footer__container  .footer__text   h6  span{
    color: #ff5959;
}

.footer .footer__container  .footer__text   h6 a{
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.footer .footer__container  .footer__text   h6 a:hover{
    color: #ff5959;
    transition: 1s;
}

.footer .footer__container  .footer__icon{
    flex: 0 0   50%;
    max-width: 50%;
    margin-left: 30px;
}

.footer .footer__container  .footer__item{
    display: flex;
}

.footer .footer__container  .footer__item   ul{
    list-style: none;
    display: flex;
    
}

.footer .footer__container  .footer__item   ul  li{
    margin-right: 20px;
    font-size: 14px;
    color: #5E6271;
}

.footer .footer__container  .footer__item   i{
    margin-left: 10px;
    font-size: 16px;
}
/* style cho footer */
/* style cho video */
.video  .video__container{
    text-align: center;
}
/* style cho video */

.header .header__container .header__menu{
    display: none;
}

/* sty cho hover li */
/* .header .header__container.container .header__item .header__icon li{
    position:relative;
    z-index: 1;
}
.header .header__container.container .header__item .header__icon li:after{
    transform: scaleY(1);
    transition:all 0.2s ease;
    position: absolute;
    content:"";
    width:100%;
    height:100%;
    background:transparent;
    top:0;
    left:0;
    z-index: 0;
}
.menu-item{
    position:relative;
    z-index: 1;
}
.header .header__container.container .header__item .header__icon li:hover:after{
    transform: scaleY(2);
    transition:all 0.3s ease;
    background:#007bff;
}
/* sty cho hover li */
