

.container{
    max-width: 375px;
    margin: 0   auto;
}

.banner .banner__container{
    max-width: 100%;
}

.header   .header__container.container  .header__item .header__icon{
    display: block;
    list-style: none;
    font-size: 18px;
    text-transform:uppercase;
    font-weight: bold;
    margin: 0px;
    color: #fff;
}

.banner .banner__container  h6{
    font-size: 19px;
    font-weight: 500;
    text-transform: capitalize;
}

.banner .banner__container  h3{
    font-size: 34px;
}
.banner .banner__container  h4{
    font-size:20px;
}

.about  .about__container   .about__item{
    flex-wrap: wrap;
}

.about  .about__container   .about__item    .about__icon{
    flex: 0 0 100%;
    max-width: 100%;
}

.sp .sp__container  .sp__content    .sp__text ul    li{
    font-size: 14px;
}

.sp .sp__container  .sp__content    .sp__text li::before{
    content: "";
    height: 5px;
    width: 5px;
    background-color: #777;
    display: inline-block;
    margin: 0   5px;
    border-radius: 50%;
    vertical-align:middle;
}

.sp .sp__container .sp__img .sp__item   .sp__title{
    text-align: center;
    line-height: 142.6px;
    transform: translateY(0px);
    font-size: 10px;
}

.blog__container    .blog__heading{
    font-size: 26px;
}

.blog__container   .blog__content{
    flex-wrap: wrap;
}

.blog__container   .blog__item{
    flex: 0 0   100%;
    max-width: 100%;
}

.am .am__container{
    flex-wrap: wrap;
}

.am .am__container  .am__content{
    flex: 0 0   100%;
    max-width: 100%;
}

.am .am__container  .am__content .am__des{
    width: 100%;
    margin-bottom: 20px;
}

.am .am__container .am__img{
    flex: 0 0   100%;
    max-width: 100%;
}
.am .am__container .am__item{
    display: none;
}


.like   .like__container    h3{
    font-size: 26px;
}

.like   .like__container    h6{
    font-size: 16px;
    font-weight: 400;
}

.like .like__container  .like__content{
    font-size: 16px;
    margin-top: 24px;
}

.video  .video__container{
    display: none;
}

.header .header__container .header__menu{
    display: flex;
}

.header .header__container .header__menu button{
    font-size: 40px;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
}

.header .header__container .header__item{
    width: 70%;
    background-color: #777;
    top: 0px;
    left: 0px;
    height: 100vh;
    padding: 30px 20px;
    position: fixed;
    transform: translatex(-150%);
    padding: 0 10px;
}

.header .header__container .header__item#tem.active{
    transform: translatex(0);
}


.header .header__container .header__item .header__icon li{
    margin-bottom: 30px;
    margin-top: 40px;
}