.container{
    max-width: 760px;
    margin: 0 30px;
}

.banner .banner__container{
    max-width: 90%;
}

.banner .banner__container  h3{
    font-size: 60px;
}

.about  .about__container   .about__content{
    flex-wrap: wrap;
}

.about  .about__container .about__content .about__text{
    margin-top: 40px;
    padding: 0 15px;
}

.about  .about__container .about__content   .about__img{
    flex: 0 0 100%;
    max-width: 100%;
}

.about  .about__container .about__content   .about__text{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px;
}

.about  .about__container   .about__item{
    flex-wrap: wrap;
}

.about  .about__container   .about__item  .about__icon{
    flex: 0 0 50%;
    max-width: 50%;
}

.achive__container  .achive__content{
    flex-wrap: wrap;
}

.achive__container  .achive__content    .achive__text{
    flex: 0 0 100%;
    max-width: 100%;
}

.achive__container  .achive__content    .achive__text   h3{
    width: 100%;
    margin-bottom: 50px;
    padding: 0 15px;
}

.achive__container  .achive__content    .achive__chart{
    flex: 0 0 100%;
    max-width: 100%;
}


.about  .about__container .about__content   .about__img{
    flex: 0 0   100%;
    max-width: 100%;
}

.blog__container   .blog__content{
    flex-wrap: wrap;
}


.blog__container   .blog__item{
    flex: 0 0   50%;
    max-width: 50%;
}

.footer .footer__container{
    flex-wrap: wrap;
    text-align: center;
}

.footer .footer__container  .footer__text{
    flex: 0 0   100%;
    max-width: 100%;
    margin-bottom: 10px;
}

.footer .footer__container  .footer__item{
    flex: 0 0   100%;
    max-width: 100%;
    display: block;
}

.footer .footer__container  .footer__item   ul  li{
    text-align: center;
    margin-bottom: 10px;
}


.footer .footer__container  .footer__item .footer__icon{
    max-width: 100%;
    margin: 0;
}

.sp__item .content-overlay {
    background: rgba(16, 29, 41, 0.580392);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    border-radius: 6px;
}

.sp .sp__container .sp__img .sp__item   .sp__title{
    text-align: center;
    line-height: 309px;
    transform: translateY(0px);
}